@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#nav{
    /*font-family: 'Lobster', cursive;*/
    font-weight: 700;
    font-size: 24px;
}
.navbar{
    border-top: 3px solid #F48024;
    border-bottom: 1px solid lightgray;
}
.nav-item a:hover{
    border-bottom: 2px solid #F48024;
}
section{
    height: 65vh;
    background-color: #2b2d6e;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
}
section h1{
    color: #ffffff;
    padding-top: 65px;
}
.textarea {
    border: 1px solid #888;
}
.button{
    color:orange;


.buttons{
    margin-top: 75px;
}
.buttons button{
    width: 225px;
    height: 50px;
    border-radius: 25px;
    color: #ffffff;
    background-color: #F48024;
}
.buttons button:hover{
    color: #ffffff;
    background-color: orangered;

}