{{#partial "content"}}
    <div class="container">
        <div class="row">
            <form method="post" action="/comments/new">
                <div class="col-xs-">
                    <label for="username">User Name</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Username input placeholder">
                </div>
                <div class="col-xs-4">
                    <label for="Comment">Comment</label> <br>
                    <textarea name ="comment" placeholder = "Message" id = "comment" ></textarea>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </form>
        </div>
    </div>
{{/partial}}