{{#partial "content"}}
    <section>
    <h1 class="text-center">HELLO DEV, DO YOU HAVE AN ANNOYING BUG?<br> JUST POST IT HERE AND YOUR FELLOW<br> DEVS WILL FIX IT FOR YOU</h1>
        <div class="buttons">
            <div class="text-center">
                <a href="/bugs">
                    <button class="btn btn-default">VIEW ALL BUGS</button>
                </a>
                <a href="/bug/new">
                    <button class="btn btn-default ml-4">POST BUG</button>
                </a>
            </div>
        </div>
    </section>
    <h1 class="text-center">Wh<span>at we</span> do</h1>
    <p class="text-center mt-4" id="para">Our mission is to help developers write the script of the future.
        <br>This means helping you find and hire skilled developers
        <br>for your business and providing them the tools they need
        <br>to share knowledge and work effectively.</p>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/images/image1.svg">
                        </div>
                        <div class="col-md-9">
                            <p>Quickly find and share internal knowledge with Private Q&A</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/images/image2.svg">
                        </div>
                        <div class="col-md-9">
                            <p>Find the perfect candidate for your growing technical team with Talent solutions</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-4">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/images/image3.svg">
                        </div>
                        <div class="col-md-9">
                            <p>Accelerate the discovery of your products or services through our Advertising platform
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{{/partial}}

{{> layout.hbs}}

