{{#partial "content"}}
    <section>
    <h1 class="text-center">HELLO DEV, DO YOU HAVE AN ANNOYING BUG?<br> JUST POST IT HERE AND YOUR FELLOW<br> DEVS WILL FIX IT FOR YOU</h1>
        <div class="buttons">
            <div class="text-center">
                <a href="/bugs">
                    <button class="btn btn-default">VIEW ALL BUGS</button>
                </a>
                <a href="/bug/new">
                    <button class="btn btn-default ml-4">POST BUG</button>
                </a>
            </div>
        </div>
    </section>
{{/partial}}

{{> layout.hbs}}