{{#partial "content"}}
    <section>
    <h1 class="text-center">HELLO DEV, DO YOU HAVE AN ANNOYING BUG?<br> JUST POST IT HERE AND YOUR FELLOW<br> DEVS WILL FIX IT FOR YOU</h1>
    </section>

{{/partial}}

{{> layout.hbs}}

